/* Manjaro theme */

* {
    font-family: "{{FONT}}", monospace;
    font-size: 16px;
}

window {
    background-color: #2a2139;
    border: 2px solid #ff7edb;
    border-radius: 8px;
}

#input {
    background-color: #34294f;
    color: #f0eff1;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 8px;
}

#input:focus {
    border: 1px solid #ff7edb;
}

#scroll {
    margin: 0 8px 8px 8px;
}

#inner-box {
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
}

#entry {
    padding: 6px 12px;
    border-radius: 4px;
    color: #f0eff1;
}

image {
    margin-right: 8px;
}

#entry:selected {
    background-color: #f0eff1;
    color: #2a2139;
}

#text {
    color: #f0eff1;
}

#text:selected {
    color: #2a2139;
}
