
.claude/*local*
.config/opencode/projects/*
!.config/opencode/projects/.gitkeep
.config/configstore
.config/uv
.config/opencode/plans/*
!.config/opencode/plans/.gitkeep
.config/opencode/memory/*
!.config/opencode/memory/.gitkeep
.config/opencode/agents/memory/*
!.config/opencode/agents/memory/.gitkeep
.config/opencode/agents/shared/agent-models.local.json
.config/opencode/agents/shared/model-map.local.md
.config/opencode/inbox/
messages.md

.claude/plans
.claude/projects
.claude/agents/memory/
