/* Makima/Gruvbox theme */

* {
    font-family: "{{FONT}}", monospace;
    font-size: 16px;
}

window {
    background-color: rgba(40, 40, 40, 0.85);
    border: none;
    border-radius: 18px;
}

#input {
    background-color: rgba(80, 73, 69, 0.80);
    color: #ebdbb2;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 8px;
}

#input:focus {
    border: none;
}

#scroll {
    margin: 0 8px 8px 8px;
}

#inner-box {
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
}

#entry {
    padding: 6px 12px;
    border-radius: 12px;
    color: #ebdbb2;
}

image {
    margin-right: 8px;
}

#entry:selected {
    background-color: rgba(235, 219, 178, 0.90);
    color: #282828;
}

#text {
    color: #ebdbb2;
}

#text:selected {
    color: #282828;
}
