/* Manjaro theme */

* {
    font-family: "0xProto Nerd Font", monospace;
    font-size: 16px;
}

window {
    background-color: rgba(42, 33, 57, 0.85);
    border: none;
    border-radius: 18px;
}

#input {
    background-color: rgba(52, 41, 79, 0.80);
    color: #f0eff1;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 8px;
}

#input:focus {
    border: none;
}

#scroll {
    margin: 0 8px 8px 8px;
}

#inner-box {
    background-color: transparent;
}

#outer-box {
    background-color: transparent;
}

#entry {
    padding: 6px 12px;
    border-radius: 12px;
    color: #f0eff1;
}

image {
    margin-right: 8px;
}

#entry:selected {
    background-color: rgba(240, 239, 241, 0.90);
    color: #2a2139;
}

#text {
    color: #f0eff1;
}

#text:selected {
    color: #2a2139;
}
